html, body{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

/* use viewport-relative units to cover page fully */
body {
  height: 100vh;
  width: 100vw;
}


.panel{
    min-height: 100vh;
    min-width: 100vw;
    position: relative;
}

.panel p{
    padding-right: 20px;
}

.next-button{
    position: absolute;
    bottom: 30px;
    right: 50%;
    left: 50%;
    text-decoration: none;
}
.next-button img{
    height: 60px;
    width: auto;
}

.content{
    display: flex;
    justify-content: center;
    align-items: center;
}
.eugen {
    height: calc(100vh - 120px - 40px - 50px);
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
    align-items:center;
    justify-content: center;
}

.eugen span{
    font-size: 1.5em;
    font-weight: 300;
    color: black;
    margin: 10px;
}

.aal {
    height: auto;
    display: flex;
    flex-direction: row;
    /* overflow: inherit; */
}

.aalText {
    margin-left: 100px;
    font-size: 1.2em;
}

.aalText li
{
    max-width: 60ch;
    overflow-wrap: break-word;
}

.subHeadline {
    font-size: 2em;
    font-weight: 700;
    margin-bottom: 0;
}